<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="card.com.allcard">
    <!-- 极光 -->
    <permission
        android:name="card.com.allcard.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="card.com.allcard.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" /> <!-- 申请华为角标权限 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".getActivity.MyApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/logo_r1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:theme">
        <activity android:name=".activity.MoneyIn"></activity>
        <activity android:name=".activity.PayBind" />
        <activity android:name=".activity.PayMoney" />
        <activity android:name=".activity.CardPro" />
        <activity android:name=".activity.FrozenIn" />
        <activity android:name=".activity.CardProgress" />
        <activity android:name=".activity.ChangeCardPass" />
        <activity android:name=".activity.CardJmInfo" />
        <activity android:name=".activity.CardOne" />
        <activity android:name=".activity.CardInfo" />
        <activity android:name=".activity.Register" />
        <activity
            android:name=".activity.ForgetPayPass"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" /> <!-- 该行及上面一行处理9.0系统  三方BUG https请求 -->
        <activity
            android:name=".activity.PayPassChangeActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx1467bf6a8cf0dffd" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MoneyOfDeal" />
        <activity android:name=".activity.MoneyOfCash" />
        <activity android:name=".activity.EdOfMoney" />
        <activity android:name=".activity.MoneyInfo" />
        <activity android:name=".activity.RealName" />
        <activity android:name=".activity.RealNameOk" />
        <activity android:name=".activity.RealNameTo" />
        <activity android:name=".activity.TabTwo" />
        <activity android:name=".activity.MoneyWaitPay" />
        <activity android:name=".activity.AllService" />
        <activity android:name=".activity.MoreServiceActivity" />
        <activity android:name=".activity.MoneyOfCard" />
        <activity android:name=".activity.BindCardTwo" />
        <activity android:name=".activity.BindCard" />
        <activity android:name=".activity.Doctor" />
        <activity android:name=".activity.Section" />
        <activity android:name=".activity.HospitalInfo" />
        <activity android:name=".activity.ChooseArea" />
        <activity android:name=".activity.TabThree" />
        <activity android:name=".activity.Map" />

        <meta-data
            android:name="designwidth"
            android:value="720" />
        <meta-data
            android:name="designdpi"
            android:value="320" />
        <meta-data
            android:name="fontsize"
            android:value="1.0" />
        <meta-data
            android:name="unit"
            android:value="dp" />

        <activity
            android:name=".activity.TabOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebPostOther"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebOther"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebPost"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeQuestion2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeQuestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SetSms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetQuestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ByQuestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BySms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ByPhone2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ByPhone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePhone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TabFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity2"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignLock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignLockChange"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignLockCheck"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenSign"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Device"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.allcard.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider> <!-- 可配置 android:process 参数将 PushService 放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="card.com.allcard.DataProvider"
            android:exported="true" /> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；拉起服务被关闭，App 不会通过拉起服务拉起其他的 App，也不会被其他 App 拉起。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="card.com.allcard" />
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="card.com.allcard.DownloadProvider"
            android:exported="true" /> <!-- Required SDK 核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="card.com.allcard" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="card.com.allcard" />
            </intent-filter>
        </activity> <!-- SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="card.com.allcard" />
            </intent-filter>
        </activity> <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" /> <!-- Required SDK 核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required 用户注册 SDK 的 intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收 SDK 消息的 intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收 SDK 通知栏信息的 intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的 intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="card.com.allcard" />
            </intent-filter>
        </receiver> <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计 APK 分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的 APK 可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" /> <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="4a8dbb99afbad5e72fdf796f" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b74a059f7383373460a86e017296f455" />
    </application>

</manifest>